<h1><%= @patient.name %></h1>


<% @patient.appointments.each do |appt| %>
     <%= link_to appt.doctor.name, doctor_path(appt.doctor) %> - <%= appt.showtime[0] %> <%= appt.showtime[1] %> <%= appt.showtime[2] %> at <%= appt.showtime[3] %><br>
<% end %>