<h1>Doctor#Show</h1>

<h2><%= @doctor.name %></h2>
<h2>Department: <%= @doctor.department %></h2>

<% @doctor.appointments.each do |appt| %>
  <p>
    <% date = appt.appointment_datetime.split('T')[0] %>
    <% date = Date.parse(date).strftime('%B %d, %Y') %>
    <% time = appt.appointment_datetime.split('T')[1] %>
    <% time = Time.parse(time).strftime('%H:%M') %>
    <%= date %> at <%= time %> <%= link_to appt.patient.name, patient_path(appt.patient) %>
  </p>
<% end %>


# @date = @appointment.appointment_datetime.split('T')[0]
# @date = Date.parse(@date).strftime('%B %d, %Y')
# @time = @appointment.appointment_datetime.split('T')[1]
# @time = Time.parse(@time).strftime('%H:%M')