<h1><%=@doctor.name%>, <%=@doctor.department%></h1>
<%@doctor.appointments.all.each do |a|%>
<ul>
<li><%=Appointment.convert_month(a.appointment_datetime.month)%> <%=a.appointment_datetime.day%>, <%=a.appointment_datetime.year%> at <%=a.appointment_datetime.hour%>:<%=Appointment.convert_minute(a.appointment_datetime.min)%>, <%=link_to a.patient.name, patient_path(a.patient)%></li>
</ul>
<%end%>