<h1><%= @doctor.name %></h1>
<h1><%= @doctor.department %></h1>

<%= @appointments.each do |appt| %>

  <% patient = Patient.find(appt[:patient_id]) %>
  <%= link_to patient.name, patient_path(patient) %>
  <%= link_to appt.appointment_datetime, appointment_path(appt) %>
  <%= appt.appointment_datetime.strftime("%B %e, %Y at %H:%M") %>
  
<% end %>
