<h1><%= @doctor.name %></h1>
<h3><%= @doctor.department %></h3>



<h4>Appointments </h4>
<p><%=@doctor.appointments.each do |a|%></p>
<p><%=a.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>
<p><%= link_to a.patient.name, patient_path(a.patient) %></p>
<%end%>