<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @doctor.department %>
</p>

<p>
<% @doctor.appointments.each do | appointment | %>
  <strong>Date:</strong>
  <% date = appointment.appointment_datetime %>
  <%= date.strftime("%B %d, %Y") %> at <%= date.strftime("%H:%M") %>
<% end %>
</p>

<p>
<% @doctor.patients.each do | patient | %>
  <%= link_to patient.name, patient_path(patient) %>
<% end %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
